.drop-container {
    padding-left: 10px;
}

.create-container {
    column-gap: 2.5em;
    width: 100%;
}

.upload-btn-container {
    display: flex;
    width: 200px;
    height: 100%;
    align-items: center;

}

.upload-btn {
    height: 40px;
    width:50%;
    background-color: #011b56;;
    color: #fff;
    font-size:larger;
    font-weight: 700;
}

.upload-btn:hover {
    height: 40px;
    width:50%;
    background-color: skyblue;
    color: #fff;
    font-size:larger;
    font-weight: 700;
}

