.username {
    font-size: 3rem;
    padding-left: 25px;
}

.pfpic {
    border-radius: 50%;
    object-fit:cover;
    height: 300px;
    width: 300px;
    border-style: groove;
    border-color: darkblue;
    background-color: aliceblue;
}

.info {
    border-radius: 5px;
    border-style: groove;
    border-color: darkblue;
    font-size: 17px;
    background: white;
    padding: 1em;
}

.pf-item {
    border-radius: 5px;
    border-style: groove;
    border-color: darkblue;
    font-size: 17px;
    background: white;
    padding: 1em;
    width: 275px;
}

.tut-item {
    border-radius: 5px;
    border-style: groove;
    border-color: darkblue;
    font-size: 17px;
    background: white;
    padding: 1em;
    width: 100%;
    margin-top: 10px;
}

.pf-container {
    column-gap: 2.5em;
}

.tut-img {
    border-radius: 50%;
    object-fit:cover;
    height: 50px;
    width: 50px;
    border-style: groove;
    border-color: darkblue;
}


.tutorials {
    width: 70%;
}

.tut-links {
    display: flex;
}

.btn-prof {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border-style: groove;
    margin-top: 10px;
    border-color: darkblue;
    width: 103.5%;
    background-color: skyblue;
    padding-top:5px;
}

.btn-prof button {
    padding: 0.5rem;
    background-color: white;
    border: none;
    transition: 0.25;
    margin-bottom: 0.5rem;
    border-radius: 3px;
}

.btn-prof button:hover{
    background: white;
    transform: scale(1.1);
}