.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .card:hover {
    background-color: #777;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.2);
  }